set linenumbers
# include ~/.config/nano-syntax-highlighting/*.nanorc
include ~/nanorc/*.nanorc
set mouse
set softwrap
set tabstospaces
set autoindent
set tabsize 4

set titlecolor brightblack,brightyellow
set numbercolor brightyellow
set keycolor brightyellow
set functioncolor white
set statuscolor black,magenta
