set linenumbers
include /usr/share/nano-syntax-highlighting/*.nanorc

set mouse
set softwrap
set tabstospaces
set autoindent
set tabsize 4

set titlecolor black,magenta
set numbercolor magenta
set keycolor magenta
set functioncolor white
set statuscolor black,magenta
