/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bga;
    text-color:             @fg;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			200px;
    padding:    			25px;
    border:					1px;
    border-radius:          12px;
    border-color:           @ac;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}

